Repository poftadeh/react-blackjack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

feat: add styled menu screen
  public/assets/images/card-bg.jpg
  public/assets/images/casino-bg.jpg
  src/App.tsx
  src/components/GameMenu/index.tsx
  src/components/GameMenu/style.ts
  src/components/NewGameMenu/style.ts
Due: npm run lint:fix

feat: add save and load functionality
  src/actions/index.ts
  src/components/GameMenu/index.tsx
  src/components/GameMenu/style.ts
  src/game/Dealer/index.ts
  src/game/Hand/index.ts
  src/game/Player/index.ts
  src/game/__tests__/Game.test.ts
  src/game/index.ts
Due: npm run lint:fix

feat: change hand score indicator on busted hand
  src/components/DealerHand/index.tsx
  src/components/PlayerHand/index.tsx
  src/components/common/HandScore.ts
Due: npm run lint:fix

style: fix content jumping in table components
  src/components/ChipTray/index.tsx
  src/components/DealerHand/index.tsx
  src/components/DealerHand/style.ts
  src/components/Header/style.ts
  src/components/PlayerHand/index.tsx
  src/components/PlayerHand/style.ts
  src/components/PlayerHandControls/index.tsx
  src/components/PlayerHandControls/style.ts
  src/components/Pot/style.ts
  src/components/Table/index.tsx
  src/components/Table/style.ts
  src/components/common/HandScore.ts
Due: npm run lint:fix

fix: boolean expression in table
  src/components/Table/index.tsx
Due: npm run lint:fix

style: change felt color
  src/App.tsx
Due: npm run lint:fix

fix: show chip pot when active player has a bet size
  src/components/Table/index.tsx
Due: npm run lint:fix

style: add responsiveness for sub 600px screen devices
  src/App.tsx
  src/components/Card/style.ts
  src/components/ChipTray/index.tsx
  src/components/ChipTray/style.ts
  src/components/DealerHand/style.ts
  src/components/GameMenu/index.tsx
  src/components/Header/style.ts
  src/components/PlayerHand/style.ts
  src/components/PlayerHandControls/style.ts
  src/components/Table/style.ts
  src/components/common/HandScore.ts
Due: npm run lint:fix

feat: add responsiveness for larger screen sizes
  src/App.tsx
  src/components/ChipTray/style.ts
  src/components/GameMenu/index.tsx
  src/components/GameMenu/style.ts
Due: npm run lint:fix

fix: add accessibility labels to spade emoji
  src/components/Header/index.tsx
  src/components/Header/style.ts
Due: npm run lint:fix

feat: add deploy script
  package-lock.json
  package.json
Due: prettier --write

fix: border size on menu buttons
  src/components/GameMenu/style.ts
Due: npm run lint:fix

style: remove dashed border
  src/components/ChipTray/style.ts
Due: npm run lint:fix

feat: add favicon
  public/favicon.ico
  public/index.html
  public/manifest.json
Due: prettier --write

feat: import store dispatch in game class
  public/index.html
  src/actions/index.ts
  src/game/index.ts
Due: prettier --write, npm run lint:fix

feat: update dealer hand incrementally
  src/components/DealerHand/index.tsx
  src/game/index.ts
Due: npm run lint:fix

style: darken background image gradient
  src/components/GameMenu/style.ts
Due: npm run lint:fix

feat: add difficulty levels
  src/components/GameMenu/index.tsx
  src/components/GameMenu/style.ts
Due: npm run lint:fix

style: reduce max width by 5rem
  src/App.tsx
Due: npm run lint:fix

fix: conditional render logic in table
  src/components/Table/index.tsx
Due: npm run lint:fix

chore: remove image export utility script
  script.js
Due: npm run lint:fix

refactor: remove unused props from table components
  src/components/DealerHand/index.tsx
  src/components/Pot/index.tsx
  src/components/Table/index.tsx
Due: npm run lint:fix

docs: update readme file with instructions and screenshots
  README.md
  repo-assets/game.png
  repo-assets/menu.png
Due: prettier --write

style: increase padding of header element
  src/components/DealerHand/style.ts
  src/components/Header/index.tsx
  src/components/Header/style.ts
Due: npm run lint:fix

style: add chip zoom on hover
  src/components/ChipTray/style.ts
Due: npm run lint:fix

feat: add game over screen
  src/App.tsx
  src/components/ChipTray/style.ts
  src/components/GameMenu/style.ts
  src/components/GameOverScreen/index.tsx
  src/components/GameOverScreen/style.ts
  src/images/gameover.jpg
Due: npm run lint:fix

style: adjust game over title size
  src/components/GameOverScreen/style.ts
Due: npm run lint:fix

refactor: create separate component for hand score
  src/components/DealerHand/index.tsx
  src/components/HandScore/index.tsx
  src/components/HandScore/style.ts
  src/components/PlayerHand/index.tsx
Due: npm run lint:fix

style: reduce scale size on chip hover
  src/components/ChipTray/style.ts
Due: npm run lint:fix

style: add cursor pointer to game over screen
  src/components/GameOverScreen/style.ts
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.d8413664b9870365118827d7d2bf2c3c.js
  service-worker.js
  static/js/2.2d3ab23c.chunk.js
  static/js/2.2d3ab23c.chunk.js.map
  static/js/2.e7cb4bda.chunk.js
  static/js/2.e7cb4bda.chunk.js.LICENSE.txt
  static/js/2.e7cb4bda.chunk.js.map
  static/js/main.b04b0786.chunk.js
  static/js/main.b04b0786.chunk.js.map
  static/js/main.dc0f325b.chunk.js
  static/js/main.dc0f325b.chunk.js.map
  static/media/gameover.96a50d0b.jpg
Due: prettier --write, npm run lint:fix

fix: set maximum scale on mobile devices
  public/index.html
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  precache-manifest.7f7b20259c64a3fdfaa943089f0eb141.js
  service-worker.js
Due: prettier --write, npm run lint:fix

refactor: clean up unused type imports
  src/App.tsx
  src/components/Pot/index.tsx
Due: npm run lint:fix

Updates
  static/js/main.dc0f325b.chunk.js.map
Due: none

style: increase chip size
  src/components/ChipTray/style.ts
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.c4fd8769bf4c4c9a3a6945d95d4fee9f.js
  service-worker.js
  static/js/main.50f025d0.chunk.js
  static/js/main.50f025d0.chunk.js.map
  static/js/main.dc0f325b.chunk.js
  static/js/main.dc0f325b.chunk.js.map
Due: prettier --write, npm run lint:fix

Path conditions:
  prettier --write: any of: *.{json,css,scss,html,md}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
