Repository poftadeh/react-blackjack: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix

.lintstagedrc.json:

{
  "*.{json,css,scss,html,md}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "npm run lint:fix"
}

fix: set touch-action on chip elements
  src/components/ChipTray/style.ts
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.9bbebc2a425afed8aabaa9089a86ea5a.js
  service-worker.js
  static/js/main.094a2b9e.chunk.js
  static/js/main.094a2b9e.chunk.js.map
  static/js/main.50f025d0.chunk.js
  static/js/main.50f025d0.chunk.js.map
Due: prettier --write, npm run lint:fix

fix: change element type of menu button
  src/components/Header/style.ts
Due: npm run lint:fix

fix: bug with dealer hand total showing before dealer's turn
  src/components/DealerHand/index.tsx
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.38dcb90d6fb1b7df773f346f50fc167b.js
  service-worker.js
  static/js/main.052e4301.chunk.js
  static/js/main.052e4301.chunk.js.map
  static/js/main.094a2b9e.chunk.js
  static/js/main.094a2b9e.chunk.js.map
Due: prettier --write, npm run lint:fix

feat: add resume button
  src/components/GameMenu/index.tsx
  src/components/GameMenu/style.ts
  src/components/Header/index.tsx
  src/components/Header/style.ts
Due: npm run lint:fix

fix: hover effects on chip elements
  src/components/ChipTray/style.ts
  src/components/GameMenu/style.ts
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.53b9c8ae4c403a8930075feb3fa04cea.js
  service-worker.js
  static/js/main.052e4301.chunk.js
  static/js/main.052e4301.chunk.js.map
  static/js/main.b95561b9.chunk.js
  static/js/main.b95561b9.chunk.js.map
Due: prettier --write, npm run lint:fix

fix: adjust chip values for game modes
  src/components/GameMenu/index.tsx
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.55d14b23a7747100a9eb341260589cd6.js
  service-worker.js
  static/js/main.4c306999.chunk.js
  static/js/main.4c306999.chunk.js.map
  static/js/main.b95561b9.chunk.js
  static/js/main.b95561b9.chunk.js.map
Due: prettier --write, npm run lint:fix

fix: edit onclick menu button functions to match new chip values
  src/components/GameMenu/index.tsx
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.e5b9e124c21d497bec09e7f553cfd9c1.js
  service-worker.js
  static/js/main.4c306999.chunk.js
  static/js/main.4c306999.chunk.js.map
  static/js/main.8aef7d38.chunk.js
  static/js/main.8aef7d38.chunk.js.map
Due: prettier --write, npm run lint:fix

feat: auto stand on blackjack
  src/components/PlayerHandControls/index.tsx
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.190f21e1d722884b159c6d48059b0c67.js
  service-worker.js
  static/js/main.48f7f6d4.chunk.js
  static/js/main.48f7f6d4.chunk.js.map
  static/js/main.8aef7d38.chunk.js
  static/js/main.8aef7d38.chunk.js.map
Due: prettier --write, npm run lint:fix

fix: prevent user-select on chip text
  src/components/ChipTray/style.ts
Due: npm run lint:fix

fix: modify appearance settings for better Safari support
  src/components/Header/style.ts
Due: npm run lint:fix

feat: add deployment package
  package.json
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  precache-manifest.2faec759f9c5ae6b5d740238e9ec8340.js
  service-worker.js
  static/js/main.48f7f6d4.chunk.js
  static/js/main.48f7f6d4.chunk.js.map
  static/js/main.a6617b7a.chunk.js
  static/js/main.a6617b7a.chunk.js.map
Due: prettier --write, npm run lint:fix

refactor: remove unused redux deck entity and tests
  src/actions/deck.ts
  src/game/__tests__/Game.test.ts
  src/reducers/deckReducer.ts
Due: npm run lint:fix

style: disable user-select on tray control buttons for better UX
  src/components/ChipTray/style.ts
Due: npm run lint:fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.617a60e713166dbd673f010ea0d7974f.js
  service-worker.js
  static/js/main.a6617b7a.chunk.js
  static/js/main.a6617b7a.chunk.js.map
  static/js/main.bab1bfa7.chunk.js
  static/js/main.bab1bfa7.chunk.js.map
Due: prettier --write, npm run lint:fix
